{% load static %}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>On-Menu - Online Menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sizin restoranınızın online menüsü" />
        <meta name="keywords" content="menu, menü, onmenu, onmenu site, online menü, online-menu" />
        <meta name="author" content="onmenu" />
        <meta name="email" content="daurenotarbai.00@gmail.com" />
        <meta name="website" content="onmenu.site" />
        <meta name="Version" content="v2.5.1" />
        <!-- favicon -->
        <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}">
        <!-- Bootstrap -->
        <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Magnific -->
        <link href="{% static 'main/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="{% static 'main/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
        <!-- Slider -->
        <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}"/>
        <!-- Main Css -->
        <link href="{% static 'main/css/style.css' %}" rel="stylesheet" type="text/css" id="theme-opt" />
{#        <link href="css/colors/default.css" rel="stylesheet" id="color-opt">#}

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->

        <!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="{% url 'main' %}" style="color: black">
                        <img src="{% static 'main/images/onmenu-logo.png' %}" height="30" alt="">
                    </a>
                </div>
                <div class="buy-button">
                    <a href="https://wa.me/905346062830?text=Restoranım%20için%20online%20menüyü%20kullanmak%20istiyorum" class="btn btn-primary">Whatsapp</a>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->

                    <div class="buy-menu-btn d-none">
                        <a href="https://wa.me/905346062830?text=Restoranım%20için%20online%20menüyü%20kullanmak%20istiyorum" class="btn btn-primary">Whatsapp</a>
                    </div><!--end login button-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->

        <!-- Hero Start -->
        <section class="bg-half-170 border-bottom agency-wrapper d-table w-100" id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7 ">
                        <div class="title-heading mt-4">
                            <h1 class="heading mb-3">Bize güvendiğiniz için   <span class="text-primary">teşekkür ederiz!</span></h1>
                            <p class="para-desc text-muted">Siz değerli müşterilerimize kaliteli bir platform sunmak için durmaksızın çalışıyoruz!</p>
                            <div class="watch-video mt-4 pt-2">
                                <a href="https://wa.me/77026819850?text=Restoranım%20için%20online%20menüyü%20kullanmak%20istiyorum" class="btn btn-primary">Yeni restoran <span class="badge badge-pill badge-danger ml-2">30 gün ücretsiz</span> <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="position-relative">
                            <img src="{% static 'main/images/illustrator/onmenu-bg-qr2.jpeg' %}" class="rounded img-fluid mx-auto d-block" alt="">
                            <div class="play-icon">

                                <a href="https://vimeo.com/675854911" class="play-btn video-play-icon">
                                    <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                </a>
                            </div>
                        </div>
                    </div><!--end col-->
{#                    <div class="col-lg-5 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">#}
{#                        <img src="{% static 'main/images/illustrator/bg.png' %}" class="img-fluid" alt="">#}
{#                    </div>#}
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

         <!-- Showcase Start -->
        <section class="section bg-light">
            <div class="container">
            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4"><span class="text-primary">Onmenu</span> menü tasarımları</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">İstediğiniz desende ve istediğiniz renkte yapabiliriz</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12 mt-4 pt-2 text-center">
                        <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded active" id="pills-cloud-tab" data-toggle="pill" href="#pills-cloud" role="tab" aria-controls="pills-cloud" aria-selected="false">
                                    <div class="text-center pt-1 pb-1">
                                        <h4 class="title font-weight-normal mb-0">Cafe menüsü</h4>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->

                            <li class="nav-item">
                                <a class="nav-link rounded" id="pills-smart-tab" data-toggle="pill" href="#pills-smart" role="tab" aria-controls="pills-smart" aria-selected="false">
                                    <div class="text-center pt-1 pb-1">
                                        <h4 class="title font-weight-normal mb-0">Restoran menüsü</h4>
                                    </div>
                                </a><!--end nav link-->
                            </li><!--end nav item-->
                        </ul><!--end nav pills-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-4 pt-2">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-cloud" role="tabpanel" aria-labelledby="pills-cloud-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <img src="{% static 'main/images/app/phone-cafe.png' %}" class="img-fluid mx-auto d-block" alt="">
                                    </div><!--end col-->

                                    <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                        <div class="section-title">
                                            <h4 class="title mb-4"><i class="mdi mdi-chevron-double-right text-primary"></i> Çok daha kolay ve ekstra maliyet olmadan</h4>
                                            <p class="text-muted">Ürün detaylarını değiştirmek artık çok kolay</p>
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Ürün ve kategori ekleme</li>
                                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Ayrıntıları değiştirme</li>
                                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Ürün resimlerini yükleme</li>
                                            </ul>
                                        </div>

                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end teb pane-->

                            <div class="tab-pane fade" id="pills-smart" role="tabpanel" aria-labelledby="pills-smart-tab">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <img src="{% static 'main/images/app/phone-restaurant.png' %}" class="img-fluid mx-auto d-block" alt="">
                                    </div><!--end col-->

                                    <div class="col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                                        <div class="section-title">
                                            <h4 class="title mb-4"><i class="mdi mdi-chevron-double-right text-primary"></i>Çok daha kolay ve ekstra maliyet olmadan</h4>
                                            <p class="text-muted">Ürün detaylarını değiştirmek artık çok kolay</p>
                                            <ul class="list-unstyled text-muted">
                                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Ürün ve kategori ekleme</li>
                                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Ayrıntıları değiştirme</li>
                                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Ürün resimlerini yükleme</li>
                                            </ul>
                                        </div>
                                    </div>  <!--end col-->
                                </div>    <!--end row-->
                            </div><!--end teb pane-->
                        </div><!--end tab content-->
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center">

                    <div class="col-lg-7 col-md-6 mt-4 pt-2">
                        <div class="section-title ml-lg-5">
                            <h4 class="title mb-4"><span class="text-primary">ONMENU</span> NEDEN BİZ?</h4>
                            <p class="text-muted">Bizim için ana hedef, her bir müşterimizi memnun etmektir.</p>
                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Her müşteri için bireysel tasarım geliştirme</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Masa qr teslimi ve gerekirse değiştirme</li>
                                <li class="mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>24 saat teknik destek</li>
                            </ul>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-5 col-md-6 mt-4 pt-2">
                        <img src="{% static 'main/images/app/qr-plastics.png' %}" class="img-fluid mx-auto d-block" alt="">
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            </div><!--end container-->
            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">FİYATLANDIRMA</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Ücretsiz Demo talebi için bizimle iletişime geçiniz... </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2">
                        <div class="card pricing-rates business-rate shadow bg-light border-0 rounded">
                            <div class="card-body">
                                <h2 class="title text-uppercase mb-4">Ücretsiz</h2>
                                <div class="d-flex mb-4">
                                    <span class="h4 mb-0 mt-2">TL</span>
                                    <span class="price h1 mb-0">0</span>
                                    <span class="h4 align-self-end mb-1">/İlk ay</span>
                                </div>

                                <ul class="list-unstyled mb-0 pl-0">
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Restoranınız için özel menü tasarımı</li>
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Değişen gıda fiyatları ve detayları</li>
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Masa plastiklerinin tasarımı ve teslimat hizmeti</li>
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>24 saat teknik destek</li>
                                </ul>
                                <a href="https://wa.me/905346062830?text=Restoranım%20için%20online%20menüyü%20kullanmak%20istiyorum" class="btn btn-primary mt-4">Deneme</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2">
                        <div class="card pricing-rates business-rate shadow bg-white border-0 rounded">
                            <div class="card-body">
                                <h2 class="title text-uppercase text-primary mb-4">BAŞLANGIÇ</h2>
                                <div class="d-flex mb-4">
                                    <span class="h4 mb-0 mt-2">TL</span>
                                    <span class="price h1 mb-0">200</span>
                                    <span class="h4 align-self-end mb-1">/3 ay</span>
                                </div>

                                <ul class="list-unstyled mb-0 pl-0">
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Restoranınız için özel menü tasarımı</li>
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Değişen gıda fiyatları ve detayları</li>
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>Masa plastiklerinin tasarımı ve teslimat hizmeti</li>
                                    <li class="h6 text-muted mb-0"><span class="text-primary h5 mr-2"><i class="uim uim-check-circle"></i></span>24 saat teknik destek</li>
                                </ul>
                                <a href="https://wa.me/905346062830?text=Restoranım%20için%20online%20menüyü%20kullanmak%20istiyorum" class="btn btn-primary mt-4">Başlama</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Showcase End -->




        <!-- javascript -->
        <script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'main/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'main/js/scrollspy.min.js' %}"></script>
        <!-- Magnific Popup -->
        <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'main/js/magnific.init.js' %}"></script>
        <!-- SLIDER -->
        <script src="{% static 'main/js/owl.carousel.min.js' %} "></script>
        <script src="{% static 'main/js/owl.init.js' %} "></script>
        <!-- Icons -->
        <script src="{% static 'main/js/feather.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
        <!-- Main Js -->
        <script src="{% static 'main/js/app.js' %}"></script>
    </body>
</html>