{% extends "menu/base.html" %}
{% load str_replace %}
{% load static %}
{% block title %}
 Menü {{ restaurant.name }}
{% endblock title%}
{% block content%}
<style>

.menu-restaurant .menu-title {
color: #FFB03B;
text-decoration: underline;
}
.menu-list .container .marb-35 .row .header-h{
    color: #FFB03B !important;
}
.navbar-default .navbar-toggle .icon-bar{
 background-color:#FFB03B !important;
 }
.scrollToTop {
 background-color: #FFB03B;
 border: 2px solid #FFB03B;
}
.btn-round{
 background-color: #FFB03B;
 border-color: #FFB03B;
}
.category-btn{
 display: block;
 width: 100%;
 height: 49px;
 border: #FFB03B 1px solid;
 color: #FFB03B;
 font-size: 18px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 padding: 7px
}
.category-btns{
    padding: 7px;
}
    </style>
  <!-- menu -->
  <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h"></h1>
          <h2 class="header-h">MENÜ</h2>
{#          <p class="header-p">Lorem ipsum dolor sit amet,  </p>#}
        </div>
      <div class="text-center">
      {% for category in restaurant.category.all %}
          <style>
          .category-btn-{% if category.name|length > 13%}{{ category.id }}{% endif %}{
              font-size: 3.5vmin;
            }
          </style>
       <div class="col-md-3 col-sm-4 col-xs-6 category-btns">
          <a href="#category_{{ category.id }}" class="category-btn category-btn-{{ category.id }}">{{ category.name }}</a>
       </div>
      {% endfor %}
      {% if user.is_authenticated %}
        <div class="col-md-3 col-sm-4 col-xs-6 category-btns">
           <button type="submit" data-toggle="modal" data-target="#CategoryModal_{{ restaurant.id }}" class="btn btn-adding-category category-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 category-btns">
           <button type="submit" data-toggle="modal" data-target="#AddingCategoryModal_{{ restaurant.id }}" class="btn btn-adding-category category-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
      {% endif %}
      </div>


        <div id="menu-wrapper">
          {% for category in restaurant.category.all %}
              <!-- Start slider  -->
          <div class="container">

              <div class="category-img-block" id="category_{{ category.id }}">
                  {% if category.img %}<img src="{{ category.img.url }}" alt="img">{% endif %}
                    <div class="category-img-block-content">
                        <h2 class="header-h">{{ category.name }}</h2>
{#                        <h2 class="" style="color: #305B89 !important;" >MENÜ</h2>#}
                    </div>
              </div>

          </div>
          <!-- End slider  -->

          {% for product in category.product.all %}
          <div class="{{ category.name | str_replace }} menu-restaurant">
            {% if user.is_authenticated %}
              <div class="actions">
                    <div  class="dropdown">
                      <i onclick="myFunction(this)" class="dropbtn fas fa-ellipsis-h action"></i>
                      <div id="" class="myDropdown dropdown-content">
                        <a href="{% url 'update_product_status' product.id %}">{% if product.is_active %}<i class="far fa-square"></i> {% else %}<i class="fas fa-check-square"></i> {% endif %}Kullanım dışı</a>
                        <a data-toggle="modal" class="btn btn-category-actions" data-target="#UpdatingProductModal_{{product.id}}"><i class="fa fa-pencil-square-o action" aria-hidden="true" ></i> Güncelleme</a>
                        <a data-toggle="modal" class="btn btn-category-actions" data-target="#DeletingProductModal_{{product.id}}"><i class="fa fa-trash action"  aria-hidden="true"></i> Sil</a>
                      </div>
                    </div>
              </div>
              {% endif %}
            <span class="clearfix">
              <a class="btn menu-title {% if product.is_active == False %} menu-title-danger {% endif %}" data-toggle="modal" type="button" data-target="#product_detail_{{product.id}}">{{ product.name }}</a>
              <span style="left: 166px; right: 44px;" class="menu-line {% if product.is_active == False %} menu-title-danger {% endif %}"></span>
              <span class="menu-price {% if product.is_active == False %} menu-title-danger {% endif %}">{{ product.price|floatformat }}TL</span>
            </span>
            {% if product.description %}<span class="menu-subtitle">{{ product.description }}</span> {% endif %}
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <!--/ menu -->

{% endblock content%}

