{% extends "menu/base.html" %}
{% load static %}
{% block title %}
 Menü {{ restaurant.name }}
{% endblock title%}
{% block content%}
  <!-- Start Restaurant Menu -->
  <section id="mu-restaurant-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-restaurant-menu-area">
            <div class="mu-title">
              <span class="mu-subtitle">Hoş geldiniz!</span>
              <h2>MENÜ</h2>
              <i class="fa fa-spoon"></i>              
              <span class="mu-title-bar"></span>
            </div>
            <div class="mu-restaurant-menu-content">
              <ul class="nav nav-tabs mu-restaurant-menu">
                {% for category in restaurant.category.all %}
                <li class="{% if forloop.first %}active{% endif %}">
                    <a href="#{{category.name}}" data-toggle="tab">{{category.name}}</a>
                </li>
                {% endfor %}
              {% if user.is_authenticated %}
                <li>
                    <button type="submit" data-toggle="modal" data-target="#CategoryModal_{{ restaurant.id }}" class="btn btn-adding-category"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                </li>
                <li>
                    <button type="submit" data-toggle="modal" data-target="#AddingCategoryModal_{{ restaurant.id }}" class="btn btn-adding-category"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </li>

              {% endif %}

              </ul>

              <div class="tab-content">
                  {% for category in restaurant.category.all %}
                    <div class="tab-pane fade in {% if forloop.first %}active{% endif %}" id="{{ category.name }}">
                      <div class="mu-tab-content-area">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mu-tab-content-left">
                              <ul class="mu-menu-item-nav">
                                  {% for product in category.product.all %}

                                    <li>
                                    <div id="product-card">
                                      <div class="media">
                                      {% if user.is_authenticated %}
                                      <div class="actions">
                                          <script>
                                              function myFunction(thiss) {
                                                  console.log(thiss)
                                                  var element = thiss.closest(".dropdown").querySelector('.myDropdown')
                                                        console.log(element)
                                                      element.classList.toggle('show');

                                              }
                                          </script>
                                            <div  class="dropdown">
                                              <i onclick="myFunction(this)" class="dropbtn fas fa-ellipsis-v action"></i>
                                              <div id="" class="myDropdown dropdown-content">
                                                <a href="{% url 'update_product_status' product.id %}">{% if product.is_active %}<i class="far fa-square"></i> {% else %}<i class="fas fa-check-square"></i> {% endif %}Kullanım dışı</a>
                                                <a data-toggle="modal" class="btn btn-category-actions" data-target="#UpdatingProductModal_{{product.id}}"><i class="fa fa-pencil-square-o action" aria-hidden="true" ></i> Güncelleme</a>
                                                <a data-toggle="modal" class="btn btn-category-actions" data-target="#DeletingProductModal_{{product.id}}"><i class="fa fa-trash action"  aria-hidden="true"></i> Silmek</a>
                                              </div>
                                            </div>
                                      </div>
                                      {% endif %}

                                        <div class="media-left">
                                          <a href="#">
                                            <img class="media-object" src="{% if product.img  %}{{ product.img.url }}{% endif %}" alt="img">
                                          </a>
                                        </div>
                                        <div class="media-body">
                                          <h4 class="media-heading"><a href="#">{{ product.name }}</a></h4>
                                          <span class="mu-menu-price">{{ product.price }}tl</span>

                                            {% if product.is_active %}<p>{{ product.description }}</p>{% else %}<div class="product-warning">mevcut değil</div>{% endif %}

                                        </div>
                                      </div>
                                    </div>
                                    </li>

                                  {% endfor %}
                                  {% if user.is_authenticated %}
                                     <li>
                                      <div class="media">
                                        <button type="submit" data-toggle="modal" data-target="#AddingProductModal_{{ category.id }}" class="btn btn-info btn-block btn-round">Add new product</button>

                                      </div>
                                    </li>
                                    {% endif %}
                              </ul>
                           </div>
                         </div>
                       </div>
                     </div>
                    </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Restaurant Menu -->

{% endblock content%}

